body{
  font-size: 12px;
  @include bg_color('light');
  @include font_color('light')
}

button{
  // display: block;
  background: $color-blue;
  color: $color-white;
  cursor: pointer;
  outline: none;
  border: none;
  // width: $l-100;
  // height: $l-40;
  // line-height: $l-40;
  text-align: center;
}


@media (prefers-color-scheme: dark) {
  body{
    @include bg_color('dark');
    @include font_color('dark')
  }
}
